*{
	padding: 0;
	margin: 0;
	background: #ccc;
}
.container{
	width: 600px;
	margin: 20px auto;
	text-align: center;
}
#client_list li{
	list-style: none;
}
.server_time{
	margin: 10px auto;
}
.song_name{
	margin: 10px;
	font-weight: bold;
	font-size: 15px;
}