.simul_play{
	cursor: pointer;
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/multiple-play-32.png') 50% 50%;
    margin: 0 0 7px 0;
}
#audio.new .area{
    display: inline-block;
    width: 390px !important;
}

#audio.new .audio .info{
    width: 350px !important;
}

#audio.new .audio .title_wrap{
    width: 300px !important;
}